@{
    ViewData["Title"] = "My Collections";
}
@model List<CollectionsModel>;

<p>
    @Html.ActionLink("Create CollectionClass", "Create")
</p>

<style>
    body {
        background-color: #fff;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #016d45;
        color: #fff;
    }
</style>

<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>CollectionClass Number</th>
        <th>Name</th>
    </tr>
    @foreach (var collection in Model)
    {
        <tr>
            <td>@collection.CollectionID</td>
            <td>@collection.Name</td>
        </tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=collection.CollectionID})
            @Html.ActionLink("Details", "Details", new { id=collection.CollectionID})
            @Html.ActionLink("Delete", "Delete", new { id=collection.CollectionID})
        </td>
    }
</table>